%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Your fleet account

      = render 'common/draft_tag'
      %p
      %p On this page you can upload your vehicles, add and remove users, make a payment and view the payments you’ve already made.

  - if current_user.admin
    .govuk-grid-row
      = render 'manage_users'
      = render 'payment_history'
      = render 'upload'
    .govuk-grid-row
      = render 'make_payment'
      = render 'select_direct_debit'
  - else
    .govuk-grid-row
      = render 'upload'
      = render 'make_payment'
      = render 'select_direct_debit'
