- title_and_header = 'Support'
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl= title_and_header

      .govuk-accordion#accorrdion-default{'data-module': 'govuk-accordion'}
        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-1
                Useful dates
          .accordion-default-content-1.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-1'}
            %table.govuk-table
              %caption.govuk-table__caption
              %thead.govuk-table__head
                %tr.govuk-table__row
                  %th.govuk-table__header{scope: 'col'} CAZ
                  %th.govuk-table__header{scope: 'col'} Zone live
                  %th.govuk-table__header{scope: 'col'} Set up bank payments
              %tbody.govuk-table__body
                - @zones.each do |zone|
                  %tr.govuk-table__row
                    %th.govuk-table__header{scope: 'row'}=zone.name
                    %td.govuk-table__cell=zone.charging_starts
                    %td.govuk-table__cell
                      - if zone.direct_debit_enabled?
                        = link_to 'Available Now', debits_path
                      - else
                        = zone.direct_debit_start_date_text

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-2
                Zone boundaries
          .accordion-default-content-2.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-2'}
            %table.govuk-table
              %caption.govuk-table__caption
              %thead.govuk-table__head
                %tr.govuk-table__row
                  %th.govuk-table__header{scope: 'col'} CAZ
                  %th.govuk-table__header{scope: 'col'} Map
              %tbody.govuk-table__body
                - @zones.each do |zone|
                  %tr.govuk-table__row
                    %th.govuk-table__header{scope: 'row'}=zone.name
                    %td.govuk-table__cell
                      = external_link_to('Zone boundary', zone.boundary_url, id: "#{zone.name.downcase}-map")

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-3
                How we calculate your charge
          .accordion-default-content-3.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-3'}
            .govuk-body
              %p Factors we take into account:
              %ul
                %li
                  %p vehicle type and its emission standards (eg HGV and Euro V)
                %li
                  %p fuel type (eg diesel or petrol)
                %li
                  %p class of Clean Air Zone (A, B, C, D)
              %p
                The ULEZ in London uses different factors to calculate it's charge. Which is why the charge you see here may be different from
                = succeed '.' do
                  = external_link_to('Transport for London',
                                    'https://tfl.gov.uk/modes/driving/ultra-low-emission-zone',
                                    class: 'govuk-link',
                                    id: 'transport-for-london')

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-4
                Exemptions
          .accordion-default-content-4.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-4'}
            .govuk-body
              %p There are some national and local exemptions from the charge.

              %h3.govuk-heading-s National
              %p Vehicles that do not have to pay the charge as they are automatically entitled to a national exemption:
              %ul.govuk-list-govuk-list--bullet
                %li
                  %p vehicle that’s ultra low emission
                %li
                  %p disabled passenger tax class vehicle
                %li
                  %p military vehicle
                %li
                  %p historic vehicle
                %li
                  %p
                    vehicle retrofitted with technology accredited by the
                    = external_link_to('Clean Vehicle Retrofit Accreditation Scheme',
                                      'https://energysavingtrust.org.uk/service/clean-vehicle-retrofit-accreditation-scheme',
                                      class: 'govuk-link',
                                      id: 'cvras')
                    (CVRAS)

              %h3.govuk-heading-s Local
              %p
                Local exemptions are specific to the local authority of each CAZ and are managed by them. You usually
                have to apply for local exemptions.
              %p
                You can find out more about local exemptions for driving in:
              - @zones.each do |zone|
                %ul.govuk-list-govuk-list--bullet
                  %li
                    %p
                      = link_to(zone.name, zone.exemption_url, id: "#{zone.name.downcase}-exemption")

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-5
                Payment limit
          .accordion-default-content-5.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-5'}
            %p.govuk-body
              The maximum payment that can be made in a single transaction is £5,000.
              Payments that exceed this limit will need to be split into separate transactions.

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-5
                What happens when a charge isn't paid
          .accordion-default-content-5.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-5'}
            .govuk-body
              %p
                Payment can be made 6 days before, on the day of travel or by 11:59pm on the 6th day after driving in the zone or you may receive a penalty charge notice (PCN). The daily charge period runs from midnight to midnight.
              %p
                The PCN will be issued to the registered keeper of the vehicle that has been
                driven into the Clean Air Zone. The amount you need to pay for your PCN may vary
                depending on the Local Authority it was issued by.
              %p
                If you do not pay the penalty within the dates shown on your PCN, you may receive
                a Charge Certificate.

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-6
                Refunds
          .accordion-default-content-6.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-6'}
            .govuk-body
              %p
                You may be able to claim a refund, for example if you paid the charge when you did not need to. Contact the local authority for the zone you paid the charge in to claim a refund:
              %p
                = external_link_to('Read more about refunds',
                                  'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                                  class: 'govuk-link',
                                  id: 'about-refunds')

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-7
                Important information about vehicle data
          .accordion-default-content-7.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-7'}
            .govuk-body
              %p The data accuracy of this service is always improving. Some vehicles charge results have recently changed.
              %p If you think the charge result you have received is incorrect contact us.
              %p
                You can find out more about Clean Air Zones on our
                = succeed '.' do
                  = external_link_to('guidance page',
                                    'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                                    class: 'govuk-link',
                                    id: 'guidance')

        .govuk-accordion__section
          .govuk-accordion__section-header
            %h2.govuk-accordion__section-heading
              %span.govuk-accordion__section-button#accordion-default-heading-8
                Contact Clean Air Zone Support
          .accordion-default-content-8.govuk-accordion__section-content{'aria-labelledby': 'accordion-default-heading-8'}
            .govuk-body
              %p
                You can contact Clean Air Zone Support if you cannot use the online service or have a question about
                the charge information of any of your vehicles.

              .govuk-details
                .govuk-details__text
                  %strong Clean Air Zone Support
                  %br
                    = external_link_to('Online contact form',
                                        Rails.configuration.x.contact_form_link,
                                        class: 'govuk-link',
                                        id: 'contact-form')
                  Telephone: 0300 029 8888
                  %br Monday to Friday, 8am to 4:30pm
                  = external_link_to('Find out about call charges',
                                    'https://www.gov.uk/call-charges',
                                    class: 'govuk-link',
                                    id: 'call-charges')
