= form_for('payment', url: matrix_payments_path, method: :post, html: { id: 'search-form' } ) do |form|
  .govuk-form-group
    %label.govuk-label{for: 'vrn-search'}
      Search for a number plate
    - if @errors.present?
      = render 'payments/matrix/vrn_input/errored', message: @errors.first
    - else
      = render 'payments/matrix/vrn_input/normal'
    = form.submit 'Search',
                  id: 'search-form-submit',
                  class: 'govuk-button govuk-button--secondary',
                  'data-module': 'govuk-button'
  - if @search
    %p
      = link_to "Clear search", clear_search_payments_path, id: 'clear-search-link', class: 'govuk-link'
