- title_and_header = 'Create a business account'
- content_for(:title, title_and_header)

= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render 'shared/error_summary', error_msg_div: '#company_name-error', error_msg: "#{@error}" if @error

      %h1.govuk-heading-l
        = title_and_header
      %p
      %span#create-account-hint.govuk-hint
        Upload and pay the charge for multiple vehicles.

      %fieldset.govuk-fieldset{'aria-describedby': 'create-account-hint'}
        %legend.govuk-visually-hidden Create account fields

        = form_for('organisations',
                   url: organisations_path,
                   method: :post,
                   html: { autocomplete: :on, novalidate: 'novalidate', spellcheck: false }) do |f|

          .govuk-form-group{class: ('govuk-form-group--error' if @error)}
            = f.label :company_name, I18n.t('company_name_form.company_name_missing'), class: 'govuk-label'

            - if @error
              %span#company_name-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = (@error.include?('exists')) ? @error.remove('reset your password') : @error
                = link_to 'reset your password', reset_passwords_path if @error.include? 'exists'

            = f.text_field :company_name,
                            class: determinate_input_class(@error),
                            value: session.dig('new_account', 'company_name')

          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
