- title_and_header = 'Bank payment agreements'
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header

      %p You need to authorise a payment every time you want to pay a charge - the money will not automatically come out of your account.

      %details.govuk-details{'data-module': 'govuk-details'}
        %summary.govuk-details__summary
          %span.govuk-details__summary-text
            Help with changing or cancelling a bank payment agreement
        .govuk-details__text
          To cancel an agreement you need to contact your bank.
          %br
          %br
          To change the details you need to cancel the agreement and set up another one with the new details.
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col'} Clean Air Zone
            %th.govuk-table__header{scope: 'col'} Mandate ID
            %th.govuk-table__header{scope: 'col'} Status
        %tbody.govuk-table__body
          - @mandates.each do |mandate|
            %tr.govuk-table__row
              %th.govuk-table__header{scope: 'col'}
                = mandate.zone_name
              %td.govuk-table__cell
                = mandate.id
              %td.govuk-table__cell
                = mandate.status
      %p
        %strong Pending
        \- It takes 3 working days for your payment to go through the first time you set up a bank payment.
      %p
        %strong Active
        \- Once set up it will take 2 days each time you pay.

      %ul.govuk-list.govuk-list--bullet
        %li payments will appear on bank statements as Drive in a Clean Air Zone
        %li we'll send a receipt by email to whoever makes the payment
        %li we'll also send an email to whoever sets up the agreement when a payment is made. To let them know money is leaving the bank account


      - if @zones_without_mandate.present? && @mandates.present?
        = link_to('Set up a new agreement', set_up_debits_path, id: 'set-up-button', class: 'govuk-button', 'data-module': 'govuk-button')
      - else
        %p
          You have set up bank agreements for every Clean Air Zone.
      %p
        = link_to 'Return to Account home', root_path, id: 'return-to-account'
