- title_and_header = 'Update email address'
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @errors.present?
        = render 'shared/errors_summary', errors: @errors

      = form_for('primary_user', url: update_email_primary_users_path, method: :get) do |f|
        .govuk-form-group{class: ('govuk-form-group--error' if @errors.present?)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
              %h1.govuk-fieldset__heading
                = title_and_header

            - if @errors.present?
              .govuk-form-group.govuk-form-group--error
                %span#email-error.govuk-error-message
                  %span.govuk-visually-hidden Error:
                  = @errors[:email].first

                = f.label :email, t('edit_user_email_form.labels.email'), class: 'govuk-label'
                = f.text_field :email, name: 'email', class: 'govuk-input govuk-!-width-two-thirds', value: params[:email]

            - else
              .govuk-form-group
                = f.label :email, t('edit_user_email_form.labels.email'), class: 'govuk-label'
                = f.text_field :email, name: 'email', class: 'govuk-input govuk-!-width-two-thirds', value: @user.email

        = submit_tag 'Save changes', class: 'govuk-button', 'data-module': 'govuk-button'

        %p
          = link_to 'Exit without saving', primary_users_account_details_path
