= link_to 'Back', @vehicles_present ? fleets_path : choose_method_fleets_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @job_errors
        = render 'job_errors'
      - elsif alert
        = render 'shared/error_summary', error_msg_div: '#govuk-error-message', error_msg: alert

      - title_and_header = if @vehicles_present
        - "Replace and upload a new list of vehicles to #{current_user.actual_account_name} account".html_safe
      - else
        - "Upload the vehicle list to #{current_user.actual_account_name} account".html_safe

      - content_for(:title, title_and_header)
      %h1.govuk-heading-l= title_and_header
      = render 'description'
