- title_and_header = 'Which vehicles and days are you paying for?'
- content_for(:title, title_and_header)

%h1.govuk-heading-l= title_and_header

- if @pagination.total_vehicles_count.positive?
  %p
    %strong
      This list only contains vehicles that will be charged in
      = succeed('.') do
        = @zone.name
  %p
    Payment can be made
    - if @dates[:past].present?
      = "#{pluralize(@dates[:past].count, 'day')} before,"
      on the day of travel or by 11:59pm on the 6th day after driving in the zone or you may receive a penalty charge notice (PCN).
  %p
    A daily charge runs from midnight to midnight.
