- title_and_header = 'Add vehicles to your account'
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if @errors.present?
        = render 'common/error_summary',
          error_msg_div: '#submission-method-error',
          error_msg: @errors[:submission_method].first

      = form_tag submission_method_fleets_path do
        .govuk-form-group{class: @errors.present? ? 'govuk-form-group--error': ''}
          %fieldset.govuk-fieldset{'aria-describedby': 'submission-method-hint'}
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
              %h1.govuk-fieldset__heading
                = title_and_header
            %span#submission-method-hint.govuk-hint
              There are 2 methods to add vehicles to your account.
            - if @errors.present?
              %span#submission-method-error.govuk-error-message
                %span.govuk-visually-hidden
                  Error:
                = @errors[:submission_method].first
            .govuk-radios
              .govuk-radios__item
                %input#method-1.govuk-radios__input{name: 'submission-method',
                                                    type: 'radio',
                                                    value: 'upload',
                                                    checked: session[:submission_method] == 'upload'}
                %label.govuk-label.govuk-radios__label.govuk-label--s{for: 'method-1'}
                  File upload
                %span.govuk-hint.govuk-radios__hint
                  Upload a spreadsheet of all your number plates.
                  %br
                  Recommended for large numbers of vehicles.

              .govuk-radios__item
                %input#method-2.govuk-radios__input{name: 'submission-method',
                                                    type: 'radio',
                                                    value: 'manual',
                                                    checked: session[:submission_method] == 'manual'}
                %label.govuk-label.govuk-radios__label.govuk-label--s{for: 'method-2'}
                  Individual
                %span.govuk-hint.govuk-radios__hint
                  Enter your vehicles one by one.
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
