= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @error
        = render 'common/error_summary',
          error_msg_div: '#company_name-error',
          error_msg: "#{@error}"

      %h1.govuk-heading-l Create an account
      %p
      %span#create-account-hint.govuk-hint
        Upload and pay the charge for multiple vehicles.

      %fieldset.govuk-fieldset{'aria-describedby': 'create-account-hint'}
        %legend.govuk-visually-hidden Create account fields

        = form_for('organisations', url: organisations_path, method: :post,
            html: { autocomplete: :on, novalidate: 'novalidate', spellcheck: false }) do |f|

          .govuk-form-group{class: ('govuk-form-group--error' if @error)}
            = f.label :company_name, 'Enter your company name', class: 'govuk-label'
            - if @error
              %span#company_name-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = "#{@error}"
            = f.text_field :company_name,
                            class: determinate_input_class(@error),
                            value: params.dig(:organisations, :company_name),
                            maxlength: 100

          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
