= link_to 'Back', create_account_name_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @errors.present?
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There was a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                -# Remove duplicated messages `Email and email address confirmation must be the same`
                - remove_duplicated_messages(@errors).each_with_index do |error, index|
                  %li.custom-csv-error
                    = link_to(error.first, "#govuk-error-#{error.second}", id: "#{error.second}-#{index}")

      %h1.govuk-heading-l Email and Password
      %p Enter your email and password

      = form_for(EmailAndPasswordForm.new, url: email_address_and_password_path, method: :post,
        html: {autocomplete: 'off', novalidate: 'novalidate'}) do |f|

        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            Email and passwords fields

          - if @errors.present?
            = render 'organisations/form_input/errored', form: f, errors: @errors
          - else
            = render 'organisations/form_input/normal', form: f

        %br
        = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
