-# TO DO: Change back path to CAZ Payments url

= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @error
        = render 'common/error_summary',
          error_msg_div: '#govuk-error-company_name',
          error_msg: I18n.t('company_name.errors.summary')

      %h1.govuk-heading-l Create account
      = render 'common/draft_tag'
      %p
      %span#create-account-hint.govuk-hint
        Create an account to upload and pay for multiple vehicles.

      %fieldset.govuk-fieldset{'aria-describedby': 'create-account-hint'}
        %legend.govuk-visually-hidden Create account fields

        = form_for('organisations', url: create_account_name_path, method: :post,
            html: { autocomplete: :on, novalidate: 'novalidate', spellcheck: false }) do |f|

          .govuk-form-group{class: ('govuk-form-group--error' if @error)}
            = f.label :company_name, 'Company name', class: 'govuk-label'
            %span#govuk-error-company_name.govuk-error-message
              - if @error
                %span.govuk-visually-hidden Error:
                = "[TBA] #{@error}"
            = f.text_field :company_name,
                            class: determinate_input_class(@error),
                            value: params.dig(:organisations, :company_name),
                            maxlength: 100

          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
