= link_to 'Back', dashboard_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        = render 'common/error_summary',
          error_msg_div: '#confirm-admin-creation-error',
          error_msg: alert

      %h1.govuk-heading-l Manage your account administrators

      = render 'common/draft_tag'
      %p

      %table.govuk-table
        %caption.govuk-table__caption Administrators
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col'} Name
            %th.govuk-table__header{scope: 'col', colspan: 2} Email address
        %tbody.govuk-table__body
          - @users.each do |user|
            %tr.govuk-table__row
              %td.govuk-table__cell{scope: 'row'}
                = user[:name]
              %td.govuk-table__cell{scope: 'row'}
                = user[:email]
              %td.govuk-table__cell{scope: 'row'}
                = link_to('Remove', delete_user_path)

      = form_for manage_users_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--s{for: 'confirm-admin-creation'}
              Do you need to add another administrator?

            - if alert
              %span#confirm-admin-creation-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = I18n.t('confirmation_form.answer_missing')

            .govuk-radios.govuk-radios--inline
              .govuk-radios__item
                %input#confirm-admin-creation-1.govuk-radios__input{name: 'confirm-admin-creation', type: 'radio', value: 'yes'}
                %label.govuk-label.govuk-radios__label{for: 'confirm-admin-creation-1'}
                  Yes
              .govuk-radios__item
                %input#confirm-admin-creation-2.govuk-radios__input{name: 'confirm-admin-creation', type: 'radio', value: 'no'}
                %label.govuk-label.govuk-radios__label{for: 'confirm-admin-creation-2'}
                  No
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'

      %p
        = link_to("For demonstration purposes", email_invite_path)
