= link_to 'Back', manage_users_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if @errors.present?
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                - transform_errors(@errors).each_with_index do |error, index|
                  %li.custom-csv-error
                    = link_to(error.first,
                              "##{error.second}-error",
                              id: "#{error.second}-#{index}")

      = form_for('users', url: add_users_path, method: :post,
        html: { autocomplete: :on, novalidate: true, spellcheck: false }) do |f|

        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
            %h1.govuk-heading-l  Add users
            = render 'common/draft_tag'
          .govuk-hint Please invite your administrators to create an account.

        - if @errors.present?
          = render 'users/new_user_form/errored', form: f, errors: @errors
        - else
          = render 'users/new_user_form/normal', form: f

        %br
        = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
