= link_to 'Back', manage_users_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if @errors.present?
        = render 'common/errors_summary', errors: @errors

      = form_for('users', url: add_users_path, method: :post,
        html: { autocomplete: :on, novalidate: true, spellcheck: false }) do |f|

        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
            %h1.govuk-heading-l  Add users
            = render 'common/draft_tag'
          .govuk-hint Invite your administrators to create an account.

        - if @errors.present?
          = render 'users/new_user_form/errored', form: f, errors: @errors
        - else
          = render 'users/new_user_form/normal', form: f

        %br
        = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
