= link_to 'Back', root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l You have added one user

      - users = ['First Fake User', 'Second Fake User']
      = form_tag another_user_path, method: :post do
        .form-group
          %dl.govuk-summary-list{class: 'govuk-!-margin-bottom-9'}
            - users.each do |user|
              .govuk-summary-list__row
                %dd.govuk-summary-list__value
                  = user
                %dd.govuk-summary-list__actions
                  = link_to 'Change', '#', class: 'govuk-link'
                %dd.govuk-summary-list__actions
                  = link_to 'Remove', '#', class: 'govuk-link'

          .govuk-form-group
            %fieldset.govuk-fieldset
              %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
                %label.govuk-heading-m Add another user?
                %span.govuk-hint If you do not have any more users to add your account creation is complete

              .govuk-radios.govuk-radios--inline
                .govuk-radios__item
                  %input.govuk-radios__input#add-user{name: 'add-user', type: 'radio', value: 'yes'}
                  %label.govuk-label.govuk-radios__label{for: 'add-user'} Yes
                .govuk-radios__item
                  %input.govuk-radios__input#add-user{name: 'add-user', type: 'radio', value: 'no'}
                  %label.govuk-label.govuk-radios__label{for: 'add-user'} No

        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
