%nav#secondary-nav.hmrc-account-menu{'aria-label': 'Account', 'data-module': 'hmrc-account-menu'}
  - if user_signed_in?
    = link_to(authenticated_root_path, class: 'hmrc-account-menu__link disabled-link', id: 'home') do
      %span.hmrc-account-icon.hmrc-account-icon--home Account home
    = link_to('Account menu',
              authenticated_root_path,
              class: 'hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible',
              'aria-expanded': false,
              'aria-hidden': true,
              tabindex: '-1')
    %ul.hmrc-account-menu__main

      -# Sub menu and back button classes declaration need it for proper loading hmrc javascript.
      .hmrc-account-menu__link--back{style: 'display: none' }
        %a#account-menu__main-2.hmrc-subnav
      -# Sub menu and back button classes declaration need it for proper loading hmrc javascript.

      %li
        = link_to('Account details',
                  current_user.owner ? primary_users_account_details_path : non_primary_users_account_details_path,
                  class: 'hmrc-account-menu__link disabled-link',
                  id: 'account-details')
      %li
        = link_to('Support', support_path, class: 'hmrc-account-menu__link disabled-link')
      %li
        = link_to('Sign out', destroy_user_session_path, method: :delete, class: 'hmrc-account-menu__link disabled-link', id: 'sign-out')

  - else
    = link_to('Sign in',
              new_user_session_path,
              class: 'hmrc-account-menu__link disabled-link',
              id: 'sign-in')

    = link_to('Create an account',
              create_account_path,
              class: 'hmrc-account-menu__link disabled-link',
              id: 'new-account')

    -# Sub menu and back button classes declaration need it for proper loading hmrc javascript.
    .hmrc-account-menu__link--menu.hmrc-account-menu__main.hmrc-account-menu__link--back{style: 'display: none' }
      %a#account-menu__main-2.hmrc-subnav
    -# Sub menu and back button classes declaration need it for proper loading hmrc javascript.
