- field_error = @errors.present? ? @errors[field] : nil
- input_classes = "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if field_error}"

.govuk-form-group{class: ('govuk-form-group--error' if field_error)}
  = form.label field, class: 'govuk-label'
  - if field_error
    %span.govuk-error-message{id: "#{field}-error"}
      %span.govuk-visually-hidden Error:
      = field_error.join(', ')
  = form.password_field field, class: input_classes
