%table.govuk-table#dynamic-table
  %caption.govuk-table__caption
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column-dynamic'} Number plate
      %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column-dynamic'} Type
      - @selected_zones.each_with_index do |(key, zone), i|
        %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column-dynamic'}
          = form_tag(select_zone_fleets_path, method: :post, remote: true) do
            = hidden_field_tag(:key, key)
            = manage_vehicle_caz_select_tag(@zones, zone.try(:[],'id'), key)
            = submit_tag 'Change', id: "select_zone_button_#{key}", class: 'hidden'
          - if i.positive?
            = link_to('X', remove_selected_zone_fleets_path(key: key,
                                                            page: params[:page],
                                                            only_chargeable: params[:only_chargeable],
                                                            vrn: params[:vrn],
                                                            per_page: params[:per_page]), remote: true,
                                                            data: {disable_with: '...'})
      %th.govuk-table__header{scope: 'col'}
        .govuk-visually-hidden Actions
        - if @selected_zones.count < 3
          = link_to('Add another zone', add_another_zone_fleets_path(page: params[:page],
                                                            only_chargeable: params[:only_chargeable],
                                                            vrn: params[:vrn],
                                                            per_page: params[:per_page]), remote: true,
                                                            data: {disable_with: '...'})
  %tbody.govuk-table__body
    - @pagination.vehicle_list.each do |vehicle|
      %tr.govuk-table__row
        %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column-dynamic'}
          = vehicle.vrn
        %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column-dynamic'}
          = vehicle.type
        - @selected_zones.each do |_key, zone|
          %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column-dynamic'}
            - if zone.present?
              = vehicle.formatted_charge(zone['id'])
        %td.govuk-table__cell{scope: 'row'}
          = link_to('Remove', assign_remove_fleets_path(vrn: vehicle.vrn), id: "remove_#{vehicle.vrn}")
