- title_content = 'View charges'
- title_and_header = flash[:success] ? "Upload successful - #{title_content}" : title_content
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      = render 'shared/error' if alert
      = render 'shared/banners'

      .govuk-tabs
        = render 'vehicles_management/fleets/tabs', selected_tab: 'view-charges'
        = render 'vehicles_management/fleets/view_charges_tab', title_content: title_content
