- title_content = 'Manage your vehicles and view charges'
- title_and_header = flash[:success] ? "Upload successful - #{title_content}" : title_content
- content_for(:title, title_and_header)

= back_link_to_dashboard

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      - if alert
        = render 'shared/error_summary',
                  error_msg_div: '#confirm-vehicle-creation-error',
                  error_msg: alert

      = render 'shared/banners'

      %h1.govuk-heading-l
        = title_content
      %p
        Charge information for your vehicles in each Clean Air Zone.
      %p
        %strong No charge -
        you don't have to pay the charge in that Clean Air Zone as your vehicle meets its emissions standards.
      %p
        %strong Undetermined -
        we could not calculate a charge based on your number plate. Contact
        = external_link_to('DVLA',
                           'https://www.gov.uk/change-vehicle-details-registration-certificate/how-to-tell-dvla',
                           id: 'update_record_link')
        to make sure it holds the correct information for you. The charge may still need to be paid for an individual vehicle.
        You can 
        = external_link_to('pay a charge for a single vehicle',
                           single_vehicle_payment_link,
                           class: 'govuk-link',
                           id: 'pay_clean_air_zone_link')
        before or after driving in a Clean Air Zone.
      %table.govuk-table
        %caption.govuk-table__caption
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column'} Number plate
            %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column'} Type
            - @zones.each do |zone|
              %th.govuk-table__header{scope: 'col', class: 'vehicle-management-column'}
                = zone.name
            %th.govuk-table__header{scope: 'col'}
              .govuk-visually-hidden Actions
        %tbody.govuk-table__body
          - @pagination.vehicle_list.each do |vehicle|
            %tr.govuk-table__row
              %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column'}
                = vehicle.vrn
              %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column'}
                = vehicle.type
              - @zones.each do |zone|
                %td.govuk-table__cell{scope: 'row', class: 'vehicle-management-column'}
                  = vehicle.formatted_charge(zone.id)
              %td.govuk-table__cell{scope: 'row'}
                = link_to('Remove', assign_delete_fleets_path(vrn: vehicle.vrn))
      = render 'pagination'

      - if @pagination.total_vehicles_count >= 2
        %p
          You can then pay for the vehicles with a charge on the
          = link_to('Make a payment', payments_path)
          page.

      %h2.govuk-heading-m Add vehicles
      %p
        You can add multiple vehicles by overriding this list with a
        = link_to('new list of vehicles', uploads_path, id: 'reupload', class: 'govuk-link')
      %p
      = form_for fleets_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--s{for: 'confirm-vehicle-creation'}
              Do you need to add a single vehicle?

            - if alert
              %span#confirm-vehicle-creation-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = I18n.t('confirmation_form.answer_missing')

            .govuk-radios.govuk-radios--inline
              .govuk-radios__item
                %input#confirm-vehicle-creation-1.govuk-radios__input{name: 'confirm-vehicle-creation',
                                                                      type: 'radio',
                                                                      value: 'yes',
                                                                      checked: session[:confirm_vehicle_creation] == 'yes'}
                %label.govuk-label.govuk-radios__label{for: 'confirm-vehicle-creation-1'}
                  Yes

              .govuk-radios__item
                %input#confirm-vehicle-creation-2.govuk-radios__input{name: 'confirm-vehicle-creation',
                                                                      type: 'radio',
                                                                      value: 'no'}
                %label.govuk-label.govuk-radios__label{for: 'confirm-vehicle-creation-2'}
                  No

        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
