- title_and_header = "You searched for #{@vrn}"
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper.govuk-main-wrapper--auto-spacing#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      = render 'shared/error' if alert

      %h1.govuk-heading-l= title_and_header

      = form_for('payment', url: vehicle_not_found_fleets_path, method: :post) do |f|
        .govuk-form-group
          %label.govuk-label{for: 'vrn-search'}
            Search for a number plate
          - if alert
            = render 'vehicles_management/remove_vehicles/vrn_input/errored', message: alert
          - else
            = render 'vehicles_management/remove_vehicles/vrn_input/normal'

          = f.submit('Search',
                     class: 'govuk-button govuk-button--secondary',
                     id: 'search-form-submit',
                     'data-module': 'govuk-button')

          %p
            = link_to("Clear search (does not remove your selections)",
                      clear_search_fleets_path,
                      id: 'clear-search-link',
                      class: 'govuk-link')


      %h2.govuk-heading-l We could not find that vehicle
      %p
        It might be because:
        %ul.govuk-list-govuk-list--bullet
          %li
            %p You did not upload that vehicle to the list
