%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl Sign in

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = render 'shared/sign_in/error_summary'
        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            Submit your login credentials
          = render 'shared/sign_in/email_field', form: f
          = render 'shared/sign_in/password_field', form: f
        %p
          = link_to('Forgotten your password?', reset_passwords_path)
        = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
