- title_and_header = 'Sign in'
- content_for(:title, title_and_header)
- errors = flash[:errors]&.symbolize_keys || {}

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl= title_and_header

      = form_for(@user ||= User.new, as: @user, url: session_path(@user)) do |f|
        = render 'shared/sign_in/error_summary', errors: errors

        %p= flash[:notice]

        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            Submit your login credentials
          = render 'shared/sign_in/email_field', form: f, errors: errors
          = render 'shared/sign_in/password_field', form: f, errors: errors
        %p
          = link_to('Forgotten your password?', reset_passwords_path)
        = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'

      %p
        If you don’t have an account you can
        = link_to('create an account', organisations_path, id: 'new-account-button')
