- title_and_header = "Payment history"
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-l
        = title_and_header

      - unless @pagination.payments_list.empty?
        %table.govuk-table
          %caption.govuk-table__caption
          - if allow_make_payments? && allow_view_payment_history?
            %p View payments made by you and your team members.
          - elsif allow_make_payments?
            %p View payments made by you.
          - else
            %p View payments made by your team members.

          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header{scope: 'col'} Date of payment
              %th.govuk-table__header{scope: 'col'} Payment made by
              %th.govuk-table__header{scope: 'col'} Clean Air Zone
              %th.govuk-table__header{scope: 'col'} Entries paid for
              %th.govuk-table__header{scope: 'col'} Total amount paid
              %th.govuk-table__header{scope: 'col'} Charge details
          %tbody.govuk-table__body
            - @pagination.payments_list.each_with_index do |payment, index|
              %tr.govuk-table__row
                %th.govuk-table__header{scope: 'row'}= payment.date
                %td.govuk-table__cell= payment.payer_name
                %td.govuk-table__cell= payment.caz_name
                %td.govuk-table__cell= payment.entries_count
                %td.govuk-table__cell
                  - if payment.refunded? || payment.charged_back?
                    Refund
                  - else
                    = parse_charge(payment.total_paid)
                %td.govuk-table__cell
                  = link_to payment_history_details_path(payment_id: payment.payment_id), class: 'govuk-link', id: "payment-#{index}" do
                    View details

        = render 'payment_history/payment_history/pagination' if @pagination.total_payments_count > 10

        = form_tag(payment_history_path, method: :get) do
          .govuk-form-group
            %fieldset.govuk-fieldset{'aria-describedby': 'per_page'}
              = link_to('Download payment history (CSV)',
                        initiate_payment_history_download_path,
                        class: 'govuk-button govuk-button--secondary',
                        id:'download-payment-history',
                        'data-module': 'govuk-button')

              - if @pagination.total_payments_count > 10
                = select_tag('per_page',
                              options_for_select(@pagination.results_per_page, params[:per_page]),
                              class: 'govuk-select moj-pagination__results results-per-page-select',
                              onchange: 'this.form.submit()')
                = label_tag('per_page', 'Results per page', class: 'govuk-label moj-pagination__results results-per-page-select')
