- title_and_header = 'Charge details'
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-l
        = title_and_header

      - if session[:company_payment_history]
        %p
          %strong Payment made by:
          = @details.payer_name
        %p
          %strong Date of payment:
          = @details.date
      %p
        %strong Payment reference:
        = @details.reference
      %p
        %strong Payment ID:
        = @details.provider_payment_id

      - unless @payments.empty?
        %table.govuk-table
          %caption.govuk-table__caption
            .govuk-visually-hidden Charge details table
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header.number-plate-header{scope: 'col'} Number plate
              %th.govuk-table__header.date-of-entry-header{scope: 'col'} Dates paid for
              %th.govuk-table__header{scope: 'col', style: 'width: 35%'} Charge
          %tbody.govuk-table__body
            - @payments.each_with_index do |payment|
              %tr.govuk-table__row
                %td.govuk-table__cell= payment.vrn
                %td.govuk-table__cell
                  - payment.dates.each do |date|
                    = date
                    %br
                %td.govuk-table__cell= parse_charge(payment.total_paid)
                %td.govuk-table__cell
      - @payment_modifications.each do |payment_modification|
        - payment_modification.each do |date, type|
          - if type['refunds'].present?
            %h1.govuk-heading-m Refund
            = render 'payment_history/payment_history/payment_modifications', date: date, payment_modifications: type['refunds']

          - if type['charges_back'].present?
            %h1.govuk-heading-m Chargeback
            %p
              Payment returned after the charge was disputed.
            = render 'payment_history/payment_history/payment_modifications', date: date, payment_modifications: type['charges_back']
          - if type['failed'].present?
            %h1.govuk-heading-m Unsuccessful
            = render 'payment_history/payment_history/payment_modifications', date: date, payment_modifications: type['failed']


      %p
        = link_to 'Return to payment history', @return_to_payments_history_url
      = render 'shared/print_link' if session[:company_payment_history]
