= javascript_pack_tag 'payment_matrix'

= link_to 'Back', payments_path, class: 'govuk-back-link'

%main.govuk-main-wrapper.govuk-main-wrapper--auto-spacing#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      = render 'payments/matrix/headling'
      = render 'payments/matrix/details'
      .govuk-form-group
        %fieldset.govuk-fieldset
          %legend.govuk-visually-hidden
            Which vehicles and days are you paying for?
          = render 'payments/matrix/search'
          = form_for('payment', url: matrix_payments_path, method: :post, html: { id: 'payment-form' }) do |f|
            = hidden_field_tag('payment[vrn_list]', @charges.vehicle_list.map(&:vrn).join(','))
            .govuk-tabs{'data-module': 'govuk-tabs'}
              = render 'payments/matrix/tabs'
              = render 'payments/matrix/past_week_tab', form: f
              = render 'payments/matrix/next_week_tab', form: f
              = render 'payments/matrix/pagination', form: f
            .govuk-form-group
              = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
