- title_and_header = 'Review your payment'
- content_for(:title, title_and_header)

= link_to 'Back', matrix_payments_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header

      %dl.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Clean Air Zone
          %dd.govuk-summary-list__value
            = @zone.name
          %dd.govuk-summary-list__actions
            = link_to payments_path, class: 'govuk-link' do
              Change
              %span.govuk-visually-hidden
                Clean Air Zone
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Entries selected
          %dd.govuk-summary-list__value
            = @days_to_pay
          %dd.govuk-summary-list__actions
            = link_to matrix_payments_path, class: 'govuk-link' do
              Change
              %span.govuk-visually-hidden
                dates
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            Total charge
          %dd.govuk-summary-list__value
            = parse_charge(@total_to_pay)
          %dd.govuk-summary-list__actions
            = link_to('View details', review_details_payments_path)

      = form_tag confirm_review_payments_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-visually-hidden
              = I18n.t('payment_review.errors.confirmation_alert')

            - if alert
              %span#unrecognised-vehicle-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                = I18n.t('payment_review.errors.confirmation_alert')

            .govuk-checkboxes
              .govuk-checkboxes__item
                %input.govuk-checkboxes__input{name: 'confirm-not-exemption',
                                               type: 'checkbox',
                                               value: 'yes',
                                               id: 'confirm-not-exemption'}
                %label.govuk-label.govuk-checkboxes__label{for: 'confirm-not-exemption'}
                  I confirm my vehicles are not exempt from paying the #{@zone.name} Clean Air Zone Charge.
                  (Find out more about exemptions in #{exemption_url_for(@zone)})
        
        = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'

