- title_and_header = 'Confirm your payment'
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Confirm your payment

      = form_tag initiate_debits_path, method: :post do
        %table.govuk-table
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell Payment method:
              %th.govuk-table__header{scope: 'row'} Direct Debit
              %td.govuk-table__cell
                = link_to select_payment_method_payments_path, class: 'govuk-link' do
                  Change
                  %span.govuk-visually-hidden
                    Change payment method link

        = submit_tag 'Confirm payment', class: 'govuk-button', 'data-module': 'govuk-button'

      %p
        = link_to 'Cancel payment', cancel_payments_path, id: 'cancel_payment'

    .govuk-grid-column-one-third.payment-summary
      %h2.govuk-heading-m
        Payment summary
      %p Pay a Clean Air Zone charge
      %h3.govuk-heading-s
        Total charge
      %h2#charge.govuk-heading-m{name: 'charge'}
        = parse_charge(@total_to_pay)
