= back_to_dashboard

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Your direct debits
      %details.govuk-details{'data-module': 'govuk-details'}
        %summary.govuk-details__summary
          %span.govuk-details__summary-text
            Help with changing or cancelling a direct debit
        .govuk-details__text
          You can only cancel direct debits with your bank.
          To change which bank account will be billed,
          cancel the direct debit on your old account
          and then create a new direct debit with your new account details.
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: 'col'} CAZ
            %th.govuk-table__header{scope: 'col'} Mandate ID
            %th.govuk-table__header{scope: 'col'} Status
        %tbody.govuk-table__body
          - @mandates.each do |mandate|
            %tr.govuk-table__row
              %th.govuk-table__header{scope: 'col'}
                = mandate.zone_name
              %td.govuk-table__cell
                = mandate.id
              %td.govuk-table__cell
                = mandate.status
      - if @zones.any?
        = button_to('Set up new direct debit', new_debit_path, method: :get, class: 'govuk-button')
      - else
        %p
          You have created a mandate for each CAZ.
          No more mandates can be created.
