- title_and_header = 'Incorrect vehicle details'
- content_for(:title, title_and_header)

= link_to 'Back', details_vehicles_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
      %p
        If your vehicle details are incorrect, you may need to
        = external_link_to 'update them', 'https://www.gov.uk/change-vehicle-details-registration-certificate'
      %p
        = succeed '.' do
          If you would like to check the compliance of another vehicle,
          = link_to 'search again', enter_details_vehicles_path
