.govuk-form-group{class: ('govuk-form-group--error' if errors[:email].present?)}
  = form.label :email, 'Enter your email address', class: 'govuk-label'
  - if errors[:email].present?
    %span#email-error.govuk-error-message
      %span.govuk-visually-hidden Error:
      = errors[:email].join(', ')
  = form.text_field :email,
                    class: determinate_input_class(errors[:email]),
                    value: params.dig(:organisations, :email),
                    maxlength: 45

.govuk-form-group{class: ('govuk-form-group--error' if errors[:email_confirmation].present?)}
  = form.label :email_confirmation, 'Confirm email address', class: 'govuk-label'
  - if errors[:email_confirmation].present?
    %span#email_confirmation-error.govuk-error-message
      %span.govuk-visually-hidden Error:
      = errors[:email_confirmation].join(', ')
  = form.text_field :email_confirmation,
                    class: determinate_input_class(errors[:email_confirmation]),
                    value: params.dig(:organisations, :email_confirmation),
                    maxlength: 45

.govuk-form-group{class: ('govuk-form-group--error' if errors[:password].present?)}
  = form.label :password, 'Create a password', class: 'govuk-label'
  - if errors[:password].present?
    %span#password-error.govuk-error-message
      %span.govuk-visually-hidden Error:
      = errors[:password].join(', ')
  = form.password_field :password,
                         class: determinate_input_class(errors[:password]),
                         maxlength: 45

.govuk-form-group{class: ('govuk-form-group--error' if errors[:password_confirmation].present?)}
  = form.label :password_confirmation, 'Confirm Password', class: 'govuk-label'
  - if errors[:password_confirmation].present?
    %span#password_confirmation-error.govuk-error-message
      %span.govuk-visually-hidden Error:
      = errors[:password_confirmation].join(', ')
  = form.password_field :password_confirmation,
                         class: determinate_input_class(errors[:password_confirmation]),
                         maxlength: 45
