%ol.govuk-list.govuk-list--number
  %li 
    Download the 
    = succeed('.') do
      = link_to('template', download_template_uploads_path)
  %li Enter all your number plates (vehicle registration numbers) in the first column.
  %li Save. The name of the file does not matter.
  %li Upload the file.
%p
= form_tag(uploads_path, multipart: true) do
  .govuk-form-group{class: ('govuk-form-group--error' if alert)}
    %label.govuk-label{for: "file-upload-1"}
      %span{class: 'govuk-visually-hidden'} File
    - if alert
      %span#govuk-error-message.govuk-error-message
        %span.govuk-visually-hidden Error:
        = alert
    %input#file-upload-1.govuk-file-upload{class:('govuk-file-upload--error' if alert),
                                           'aria-describedby': 'file-upload-1',
                                           name: 'file',
                                           type: 'file'}
  .govuk-form-group
    = submit_tag 'Upload file', class: 'govuk-button', 'data-module': 'govuk-button'
