- title_and_header = 'Local exemptions'
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
      %p
        Certain vehicles still qualify for an exemption despite not meeting emission standards. This could be because the owner is resident or works in the zone.
      %p
        It is your responsibility to check if you qualify for one with the local authority of the Clean Air Zone you are driving.

      - if @large_fleet
        = link_to 'Continue', calculating_chargeability_uploads_path, class: 'govuk-button'
      - elsif @show_continue_link
        = link_to 'Continue', fleets_path, class: 'govuk-button'
      - else
        = form_tag add_to_fleet_vehicles_path, method: :post do
          = submit_tag 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
